/*Nav-bar*/


/*MainPage*/
#MainPage{
    background-color: #c9d6df;
    padding: 10%;
}

/*FightersLab*/
#FightersLab{
    background-color: #52616b;
    padding: 10%;
}
.FL-Description{
    font-family: 'Roboto', sans-serif;
}

.FL-Title{
    font-family: 'Rock Salt', cursive;
    text-decoration: underline;
    font-weight: 100px;
    font-size: 2.0rem;
}
.FL-TitleImage{
    border: black;
    border-style: inset;
    width: 600px;
}

/*QuestLog*/
#QuestLog{
    background-color: #f0f5f9;
    padding: 10%;
}
.QuestLog-Title{
    font-family: 'Press Start 2P', cursive;
}

/*Footer*/
#footer{
    text-align: center;
}


